body{
    color: #fff;
    background: url("/fTBack.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: url("/fTBack.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center; */
    background-color: #1c1c1c;
    font-family: garamond;
}
h1{
    font-size: 40px;
    text-align: center;
    position: relative;
}

p{
    font-size: 30px;
    text-align: center;
}

div{
    text-align: center;
    position: relative;
}

form{
    font-size: 18px;
    text-align: center;
    position: relative;
}

span.a{
    text-align: center;
    display: inline;
}

input{
    background-color: #1c1c1c;
    color: #63c328;
}

button{
    background-color: #1c1c1c;
    color: #63c328;
}