body{
    color: #fff;
    background: linear-gradient(45deg, #CC00FF, #6E0DD0, #9900FF, #FF6600, #00FF00, #ffff00, #ff0000, #FFFF00, #FFFF33, #ffff00, #FF00FF, #FF00CC, #FF0000, #00FF66, #33FF00, #00FFFF, #099FFF, #0062FF, #ff0000, #F2EA02, #E6FB04, #0033FF, #FF0099, #00FF33, #0000ff, #00ff00, #fb0094, #0000ff, #00ff00, #fb0094, #FD1C03, #FF3300, #CC00FF, #9D00FF, #CC00FF, #6E0DD0, #9900FF);
    background-size: 400%;
    animation: linear-shadow 25s linear infinite;
    font-family: helvetica;
}
@keyframes linear-shadow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
h1{
    font-size: 60px;
}

p{
    font-size: 40px;
}

main{
    width: 90%;
    max-width: 1080px;
    padding: 40px 0 0;
}